<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329355089783-u7gpoupv02k044uonjsr1e4ob9d3pmir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329355089783-u7gpoupv02k044uonjsr1e4ob9d3pmir</string>
	<key>API_KEY</key>
	<string>AIzaSyA9ZfQ4n-9td14ryb9LN99gaKmKswLsSXA</string>
	<key>GCM_SENDER_ID</key>
	<string>329355089783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Timely</string>
	<key>PROJECT_ID</key>
	<string>timely-365dc</string>
	<key>STORAGE_BUCKET</key>
	<string>timely-365dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329355089783:ios:05467482e718858579b372</string>
</dict>
</plist>